body {
  background-color: #777;
  width: 960px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  line-height: 75%;
}

header {
  background-color: #ebebeb;
  text-align: center;
  padding: 20px 0;
  color: #777;
  margin: 10px 0 10px 0;
}

#nav {
  background-color: #ebebeb;
  text-align: center;
  padding: 20px 0;
  color: #777;
  margin: 0 0 10px 0;
}

#section {
  background-color: #ebebeb;
  text-align: center;
  color: #777;
  width: 495px;
  float: left;
  margin: ;
  padding: 10px;
}

#article {
  background-color: #777;
  color: #ebebeb;
  text-align: center;
  width: 475px;
  margin: 20px 0 0 0;
  padding: 20px 10px;
}

#para {
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  width: ;
  margin: ;
  padding: 20px 5px;
}

#h1 {
  background-color: #ebebeb;
  text-align: center;
  color: #777;
  width: ;
  margin: 20px 0 10px 0;
  padding: 20px 5px 20px 0;
}

#aside {
  background-color: #ebebeb;
  text-align: center;
  color: #777;
  width: 435px;
  float: right;
  padding: 40px 0 190px 0;
}

#footer {
  background-color: #ebebeb;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 260px 0 0 0;
  color: #777;
  clear: left;
}